body {
  font-family: Arial, sans-serif;
  text-align: center;
}
form {
  width: 250px;
  margin: 20px auto;
}
input,
textarea,
button {
  width: 100%;
  margin: 5px 5px;
  padding: 10px;
  border: 1px solid #ccc;
}
button {
  background: green;
  color: white;
  border: none;
  cursor: pointer;
  width: fit-content;
}
button:hover {
  background: darkgreen;
}
#toggle-form {
  width: 150px;
}
.event-card {
  border: 2px solid #ccc;
  border-radius: 8px;
  padding: 15px;
  margin: 10px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
  background: #fff;
}
button[id^="delete-"] {
  width: 100px;
  background: red;
}
.guest-list {
  margin-top: 1rem;
  padding: 1rem;
  background: #f5f5f5;
  border-radius: 4px;
}
